unstructured[all-docs]
langchain_core
langchain_openai
langchain_classic
langchain_chroma
langchain_huggingface
langfuse
langchain
langgraph-checkpoint-sqlite
sentence_transformers
geopandas
numpy
pandas
scipy
torch
pypdf
tavily-python
python-dotenv
uvicorn
aiosqlite
fastapi